.forms{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
form{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    max-width: 400px;
    margin-top: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
.label{
    display: block;
    margin-bottom: 8px;
    color: gray;
}
input,textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;

}
button{
    background-color: #45a049;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;

}
button:hover{
    background-color: #45a049;
}